*{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}

body {
    background-color: #303230;
    opacity: 1;
    background-image:  radial-gradient(#a8f8ae 0.9px, transparent 0.9px), radial-gradient(#a8f8ae 0.9px, #303230 0.9px);
    background-size: 36px 36px;
    background-position: 0 0,18px 18px;
}

/* 滚动槽 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(24, 197, 24, 0.61);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(95, 212, 114, 0.952);
}

#header {
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #153f0b;
    opacity: 0.9;
    background-image:  linear-gradient(135deg, rgba(12, 70, 15, 1) 25%, transparent 25%), linear-gradient(225deg, rgba(12, 70, 15, 1) 25%, transparent 25%), linear-gradient(45deg, rgba(12, 70, 15, 1) 25%, transparent 25%), linear-gradient(315deg, rgba(12, 70, 15, 1) 25%, #153f0b 25%);
    background-position:  30px 0, 30px 0, 0 0, 0 0;
    background-size: 30px 30px;
    background-repeat: repeat;
}

.dropdown {
    /* Border */
    display: flex;
    flex-direction: row-reverse;

    /* Reset list styles */
    list-style-type: none;

    height: 100%;
}

.dropdown li {
    /* Spacing */
    padding: 1vh;

    /* Used to position the sub dropdown */
    position: relative;
    color: rgb(216, 255, 206);
    margin: 1vh 1vw;

    /* Border */
    border-radius: 10px;

    font-size: 4vh;
    text-align: center;
}

.dropdown li a {
    text-decoration: none;
    color: rgb(197, 243, 179);
}

/* The sub dropdown */
.dropdown ul {
    /* Border */
    border: 1px solid rgba(40, 150, 6, 0.897);
    border-radius: 10px;

    /* Hidden by default */
    display: none;

    /* Absolute position */
    left: 0;
    position: absolute;
    top: 100%;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* Width */
    width: 15vw;

    background-color: rgba(32, 173, 32, 0.521);
}

/* The second level sub dropdown */
.dropdown ul ul {
    position: absolute;
    top: 0;
    left: -100%;
}

/* Change background color of list item when being hovered */
.dropdown li:hover {
    background-color: rgba(170, 223, 128, 0.493);
}

/* Show the direct sub dropdown when hovering the list item */
.dropdown li:hover > ul {
    display: block;
}

/* Page */
#Page_1 {
    width: 100%;
    height: 100vh;
}

#background {
    position:absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../img/background_1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    transition: 2s;
    opacity: 30%;
}
#background:hover {
    opacity: 100%;
}

#Page_1_main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 1s;
}

#Page_1_main h1{
    font-family: 'Indie Flower', cursive;
    font-size: 5vw;
    font-weight: 600;
    color: rgba(226, 247, 224, 0.863);
    z-index: 1;
}
#Page_1_main:hover {
    text-shadow: rgba(161, 252, 25, 0.596) 6px 6px;
}

/* Page_2 head shape */

.custom-shape-divider-top-1642460811 {
    position: relative;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1642460811 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 76px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1642460811 .shape-fill {
    fill: #5FB461C2;
}


#Page_2 {
    width: 100%;
    height: 100vh;
}

.Page__main {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.Page__left {
    width: 15%;
}

.Page__middle {
    /* Take the remaining width */
    flex-grow: 1;
}

.Page__right {
    width: 15%;
}

#Page_2_head{
    margin-top: 5vh;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 5vw;
    font-weight: 600;
    color: rgba(226, 247, 224, 0.863);
}

.Page_2_container {
    /* Content is centered horizontally */
    align-items: center;
    display: flex;
    justify-content: center;

}

.Page_2_container__column {
    /* Content is centered vertically */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Make all columns have the same width */
    flex: 1;

    /* OPTIONAL: Space between columns */
    margin: 5vh 18px;

    /* OPTIONAL: Border */
    border: 1px solid rgba(247, 240, 240, 0.3);
    border-radius: 75px;
    box-shadow:  20px 20px 60px #122f13,
             -20px -20px 60px #183f19;

    /* background color */
    background-color: #f4fbf4;
    opacity: 0.9;
    background: radial-gradient(circle, transparent 20%, #f4fbf4 20%, #f4fbf4 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f4fbf4 20%, #f4fbf4 80%, transparent 80%, transparent) 62.5px 62.5px, linear-gradient(#34b836 5px, transparent 5px) 0 -2.5px, linear-gradient(90deg, #34b836 5px, #f4fbf4 5px) -2.5px 0;
    background-size: 125px 125px, 125px 125px, 62.5px 62.5px, 62.5px 62.5px;
}
.Page_2_container__column h3{
    margin-top: 5vh;
    color: rgb(47, 107, 47);
    font-family: 'Indie Flower', cursive;
    font-size: 5vh;
}
.Page_2_container__column img{
    margin-top: 2.5vh;
    font-family: 'Indie Flower', cursive;
    width: 80%;
    height: 50%;
}
.Page_2_container__column p{
    margin-top: 2.5vh;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
.Page_2_container__column button{
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    font-family: 'Indie Flower', cursive;
    color: bisque;
    background-color: rgb(47, 107, 47);
    font-size: 5vh;
    border-radius: 10px;
    padding: 5px;
    transition: 1s;
}
.Page_2_container__column button:hover {
    color: rgb(47, 107, 47);
    background-color: bisque;
}
#Page_3 {
    width: 100%;
    height: 100vh;
}

#Page_3_head {
    margin-top: 5vh;
    color: bisque;
    font-family: 'Indie Flower', cursive;
    font-size: 5vh;
    text-align: center;
}

#Page_4 {
    width: 100%;
    height: 100vh;
}
